build/
bin/
dist/
out/

*.o
*.obj
*.lo

*.a
*.so
*.so.*
*.dll
*.dylib

*.exe
*.out

*.swp
*.swo
Session.vim

.vscode/

tags
TAGS
.tags

.cache/
compile_commands.json

tests/*.log
tests/*.tmp

*.tmp
*.temp

.directory
